<div
  class="row justify-content-center align-items-center p-5"
  style="min-height: 85%"
>
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <a href="/about">
        <div id="element">
          <img
            src="{{ site.author.image }}"
            alt="{{ site.title }}"
            class="circle-image outer-glow"
            data-wow-delay=".1s"
          />
        </div>
      </a>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      {{ site.description }}
    </p>
  </div>
</div>
