html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Readex Pro", sans-serif;
  background-image: radial-gradient(#e4e4e4 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

.badge-pill {
  border-radius: 0.2rem !important;
  color: #6c757d !important;
  border-color: #6c757d !important;
}

.outer-glow {
  border-radius: 50%;
  // box-shadow: 0px 0px 150px 10px rgba(255, 255, 255, 0.178);
  animation: lightout 5s infinite, scaleout 1s 1;
}

@keyframes lightout {
  0% {
    box-shadow: 0px 0px 150px 10px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0px 0px 150px 10px rgba(255, 255, 255, 0.26);
  }
  100% {
    box-shadow: 0px 0px 150px 10px rgba(255, 255, 255, 0);
  }
}
@keyframes scaleout {
  0% {
    scale: (0);
  }
  100% {
    scale: (1);
  }
}
