$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$text-black: #343a40;
$text-white: rgba(white, 0.9);

$rounded-borders: 15px;

.bg-adobe-1 {
  background-color: #9999ff;
}
.bg-adobe-2 {
  background-color: #2daaff;
}
.bg-adobe-3 {
  background-color: #ff61f6;
}
.bg-adobe-4 {
  background-color: #f29200;
}
.bg-corel {
  background-color: #5aa141;
}
.bg-web-1 {
  background-color: #e36028;
}
